<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <!-- Loop over the collection of products -->
        <div *ngFor="let tempDrug of drugs" class="col-md-3">

          <div class="product-box">

            <!-- For product detail view page -->
            <a routerLink="/drugs/{{ tempDrug.id }}">
              <img src="{{ tempDrug.imageUrl }}" class="img-responsive">
            </a>
            <!-- For product detail view page -->
            <a routerLink="/drugs/{{ tempDrug.id }}">
              <h1>{{ tempDrug.name }}</h1>
            </a>

            <div class="price">{{ tempDrug.unitPrice | currency:'UGX' }}</div>
            <button (click)="addToCart(tempDrug)" class="btn btn-primary btn-sm">Add to cart</button>
          </div>
        </div>
          <!-- if products empty then display a message-->
        <div *ngIf="drugs?.length == 0" class="alert alert-warning col-md-12" role="alert">
          No medicine found.
        </div>
      </div>

      <!-- begin pagination at footer -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">

                <ngb-pagination [(page)]="thePageNumber"
                                [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements"
                                [maxSize]="5"
                                [boundaryLinks]="true"
                                (pageChange)="listDrugs()">

                </ngb-pagination>

              </div>
              <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="mr-2">Page Size</span>

                  <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                    <option>3</option>
                    <option selected="true">5</option>
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                  </select>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- end pagination at footer -->

    </div>
  </div>
</div>
