<section id="section3" class="section">
  <div class="wrap">
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Unit Price</th>
          <th>Date Added</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tempdrug of drugs">
          <td>{{tempdrug.name}} </td>
          <td>{{tempdrug.description}} </td>
          <td>{{tempdrug.unitPrice | currency: 'UGX'}} </td>
          <td>{{tempdrug.dateCreated | date: 'fullDate'}} </td>

        </tr>

      </tbody>
    </table>
  </div>
</section>
