<!-- Ends header -->
<div class="container1">
  <!--=====================================
            SECTIONS
        ======================================-->
  <!-- Starts section part -->
  <section id="section3" class="section">
    <div class="wrap">
      <p> <img src="/assets/imgs/ai.png" width="250" alt="brown fox">DESCRIPTION: A dynamic and responsive Java e-healthcare web application for ordering medicines of different categories.
      Medicare is a company that supplies medicines and a couple of other healthcare essentials at an affordable price. It was
      established in 2012 in Delhi, India. It had been serving fine all these years, however, the business analysts noticed a decline in sales since 2017. We found out that online ordering of medicines
      with companies, such as 100mg and mfine are gaining more profits by eliminating middlemen from the equation. As a result, the team decided to develop
      a healthcare web application with a rich and user-friendly interface that suit the business model.</p>
    </div>
  </section>
</div>
