<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo" id="logo-img">
      <a routerLink="/drugs">
        <span>
          <img src="assets/images/logo/medicare.png" alt="-medicare-" class="img-responsive"  style="border-radius: 20%">
        </span>
      </a>
    </div>
    <!--Selector for the category menu component-->
   <span class="category-menu">
    <app-drug-category-menu></app-drug-category-menu>
   </span>

  </aside>
  <!-- END MENU SIDEBAR-->

  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">

            <!--Selector for the Menu component-->
            <app-search></app-search>

            <!--Selector for the Login/Logout component-->
            <app-login-status></app-login-status>

            <!--Cart main area-->
            <app-cart-status></app-cart-status>

          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
      <router-outlet></router-outlet>

  </div>
</div>

<!-- ENDS PAGE CONTAINER -->

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>
