<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="https://21dj-online.com">
    <img src="assets/images/logo/medicare.png" width="30" height="30" class="d-inline-block align-top" />
    Medicare
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarUser"
    aria-controls="navbarUser" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarUser">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/drugs" class="nav-link" routerLinkActive="active-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/dashboard" class="nav-link" *ngIf="isAdmin" routerLinkActive="active-link">Admin Panel</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="!currentUser">
      <li class="nav-item">
        <a routerLink="/register" class="nav-link" routerLinkActive="active-link"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link" routerLinkActive="active-link"><span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="currentUser">
      <li class="nav-item">
        <a routerLink="/profile" class="nav-link" routerLinkActive="active-link"><span class="glyphicon glyphicon-user"></span> {{currentUser.name}}</a>
      </li>
      <li class="nav-item">
        <a (click)="logOut()" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> LogOut</a>
      </li>
    </ul>
  </div>
</nav>
