<div class="container custom-container">
  <div class="card-deck">
    <div class="card" style="width: 18rem;">
      <div class="custom-brand"><span class="glyphicon glyphicon-user"></span></div>
      <div class="card-body">
        <h5 class="card-title">Total Users</h5>
        <p class="card-text">The number of users from beginning to today is <strong>{{userCount}}</strong>.</p>
        <a routerLink="/user-list" class="btn btn-primary btn-custom-link" routerLinkActive="active-link">Detail</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="custom-brand"><span class="glyphicon glyphicon-qrcode"></span></div>
      <div class="card-body">
        <h5 class="card-title">Total Drugs</h5>
        <p class="card-text">The number of Drugs from beginning to today is <strong>{{drugCount}}</strong>.</p>
        <a routerLink="/product-drug-list" class="btn btn-primary btn-custom-link"
          routerLinkActive="active-link">Detail</a>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <div class="custom-brand"><span class="glyphicon glyphicon-usd"></span></div>
      <div class="card-body">
        <h5 class="card-title">Total Purchases</h5>
        <p class="card-text">The number of purchases from beginning to today is <strong>{{transactionCount}}</strong>.
        </p>
        <a routerLink="/transaction-list" class="btn btn-primary btn-custom-link"
          routerLinkActive="active-link">Detail</a>
      </div>
    </div>
  </div>
</div>
